.label{
  margin: 12px;
  font-size: 20px;
  font-weight: bold;
}

ion-icon {
  font-size: 22px; //Preferred size here
}
// .main.page{
  ::ng-deep #background-content{
    background:#cfcfcf
  }
// }
.selectedNumber{
  --ion-item-background:  #cecfff;
 .item-native{
    background-color: #cecfff;
  }
}

.searchbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ion-label{
  font-size: 20px;
  font-weight: bold;
}

.noDataAvailable{
  text-align: -webkit-center;
  font-size: 25px;
  font-weight: bold;
}
